body {
  font: 1em helvetica, arial, sans-serif;
  background-color: #fff;
  color: #111;
}
.story {
  padding: 0 1em 0 1em;
}


/* progress bar container background*/

.progress-bar-container {
  width: 100%;
  height: 0.5em;
  background: grey;
  margin: auto;
}

/* scroll indicator   */
.progress-bar {
  height: 0.5em;
  background: lightskyblue;
  width: 0%;
}
.heading {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  background-color: grey;
  margin-left: auto;
  text-align: center;
}
/* Navigation bar  */
.nav-title {
  text-align: center;
  margin-top: 1em;
}

.nav{
  display: flex;
  background-color: cornflowerblue;
  overflow: hidden;
  border-radius: 0.3em;
  text-align: center;
  /* align-items: center; */
  justify-content: space-around;
  margin: 0;
  padding: 0.2em 0.5em 0.2em 0.5em;
  top:1%;
  left: 0%;
  width: 100%;
  /* position: fixed; */ /*will use javascript instead */
}

.nav a {
  float: left;
  color: wheat;
  text-decoration: burlywood;
  
}
  
.nav a:hover{
    color: #111;
    background-color: #dddddd;
}

.nav-item {
  color: purple;
  padding: 0.2em;
  text-decoration: none;
  transition: .2s;
  margin: 0.5em;
  position: fixed;
  column-gap: normal;
  justify-content: center;
}



.nav-indicator {
  position: fixed;
  border-radius: 2em 2em 0 0;


}


/* The sticky class is added to the navbar with JS reaches its scroll position */
.sticky-top {
  position: fixed;
  top: auto;
  width: 100%;

}


/* elevator */
#myElevator a{
  position: fixed;
  right: -8em;
  transition: .2s;
  padding: 15px;
  width: 10em;
  text-align: center;
  text-decoration: none;
  font-size: 1em;
  color: #dddddd;
  border-radius: 5em 0 5em 5em;
}

#myElevator a:hover {
  right: 0;
}
#back {
  top: 25em;
  background-color:grey;
}


@media (max-width: 600px){
  .nav {
    overflow: auto;
  }
}